.iconContainer {
  position: relative;
  background: #ffffff;
  inline-size: 54px;
  block-size: 48px;
  padding-block: 0;
  padding-inline: 3px;
}

:global(.siwFillPrimary) {
  fill: var(--PrimaryFill);
}

:global(.siwFillPrimaryDark) {
  fill: var(--PrimaryDarkFill);
}

:global(.siwFillSecondary) {
  fill: var(--SecondaryFill);
}

:global(.siwFillBg) {
  fill: var(--BackgroundFill);
}