.siwContainer {
  max-inline-size: 432px;
  min-inline-size: 320px;
}

.mainViewContainer {
  min-inline-size: 100%;
  margin-block: 100px 8px;
  margin-inline: auto;
}

@media only screen and (max-device-width: 750px) {
  .mainViewContainer {
    margin-block-start: 0;
  }
}
