.authButton:hover {
  cursor: pointer;
  border-color: var(--ColorPrimaryBase, #1662dd);
}
.authButton:hover .actionName {
  color: var(--ColorHover);
}
.authButton:focus {
  outline-color: var(--FocusOutlineColor);
  outline-offset: var(--FocusOutlineOffset);
  outline-style: var(--FocusOutlineStyle);
  outline-width: var(--FocusOutlineWidth);
}

.infoSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 6px;
  padding-block: 0;
  padding-inline: 12px 0;
}

.actionName {
  margin-block: 5px;
  margin-inline: 0;
  color: var(--ColorPrimaryBase);
  display: flex;
  font-weight: 500;
  align-items: center;
}

.actionName svg {
  margin-block: 0;
  margin-inline: 5px 0;
}
